button.btn-lg, a.btn-lg, butoon.btn-sm {
    line-height: .5;
    border-radius: 10px;

}

Option {
    font-weight: bolder;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 2px solid orangered;
}
